@import "tailwindcss";

@theme {
	/* Brand */
	--color-brand: #004484;
	--color-brand-hover: #003370;
	--color-brand-light: #dbeafe;
	--color-brand-subtle: #eff6ff;

	--color-page-bg: #f8fafc;
	--color-border: #e2e8f0;

	/* Text */
	--color-text-primary: #002845;
	--color-text-secondary: #0a161f96;
	--color-text-muted: #94a3b8;

	/* Error */
	--color-error-bg: #fff1f2;
	--color-error-border: #fecdd3;
	--color-error-text: #be123c;
}
